.H1
    { text-decoration: underline}   
.CenterTxt
    { text-align: center;}
.PageHead_Auth
    { 
        font-weight: bold;
        font-style: italic;
    }
.NavBar 
    {
        display: flex;
        flex-direction: row;
        justify-content: right;
        background-color: silver;
        padding-right: 20px;
    }
 .NavBar li {
        display: inline;
        padding: 0 10px;
        list-style: none;
        background-color: navy;
        color: white;
        font-size: 20px;
    }
.NavBar li:hover
    {
        background-color: yellowgreen;
        color: red;
    }
.NavBar li.Active 
    {
        background-color: green;
        color: white;
    }
.ImageDiv
    {
        width:50%;
        margin:auto;
    }
.ImgNat
{
    max-width: 100%;
    display: block;
}
.Activities
    {
        text-align: left;
    }
.Activities li
    {
        font-size: 20px;
        font-weight: bold;
    }